.slideshow {float:left;background:transparent;margin: 0;padding:0;z-index:1;overflow:hidden;position:relative;width:100%;}
.slidediv {float:left;background:none ;list-style-type:none ;z-index:2;visibility:hidden;}
.ssprev,.ssnext {width:20px !important;height:20px !important;background:transparent;border:none;z-index:1024;margin-top: -67px;display: block;}
.ssprev img,.ssnext  img{	
	border: 0;
	padding-top:16px;
}
.ssbutton {clear:both;text-align:right;height: 40px;margin-right:0;padding-top:6px;width:100%;background:transparent;overflow: hidden;}
.ssbutton a:focus {	background: none !important;}
.slideshow li {	background: none;	list-style: none;}
.slideshow img, .slideshow li {background:none !important;} 